{% extends "base.html" %}
{% block style %}
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 10%;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }
</style>
{% endblock style %}

{% block body %}

<div class="content-wrapper ">
    <div class="ml-4">
    <hr>
    <h4 for="formFileMultiple align-center" class="form-title"> <span><b>View Student</b> </span></h4>
    

    {% include 'message.html' %}

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table  table-striped mb-2">
            <thead>
                <tr class="table-warring">
                    <th scope="col">S.No</th>
                    <th scope="col">User Name</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Dateof Birth</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                    <th scope="col">Session</th>
                    <th scope="col">Father Name</th>
                    <th scope="col">Mother Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                {% for i in student %}
                <tr>

                    <th scope="row">
                        {{forloop.counter}}
                    </th>
                    <td>{{i.admin}}</td>
                    <td>{{i.admin.first_name}}</td>
                    <td>{{i.admin.last_name}}</td>
                    <td>{{i.dateofbirth}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.admin.email}}</td>
                    <td>{{i.course_id}}</td>
                    <td>{{i.session_id}}</td>
                    <td>{{i.father_name}}</td>
                    <td>{{i.mother_name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.city}}</td>
                    <td>{{i.mobile}}</td>
                    <td>
                     <a href="/edit_student/{{i.id}}"><i class="fas fa-pencil-alt p-2 mb-1 bg-warning"></i></a> &nbsp;
                     <a href="/delete_student/{{i.admin.id}}"><i class="fas fa-trash p-2 mb-1 bg-danger"></i></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

</div>
{% endblock body %}