{% extends "base.html" %}
{% block body %}


<div class="content-wrapper">
    <h4 for="formFileMultiple" class="form-title"> <span><b>Add Course</b> </span></h4>
    {% include "message.html" %}
    <div class="ml-4">
        <!--Table-->
        <table class="table table-striped ">

            <!--Table head-->
            <thead>
                <tr class="table-warring">
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th colspan="2">Action</th>

                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                {% for i in view_courses %}


                <tr class="table-info">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.created_at}}</td>
                    <td>{{i.update_at}}</td>
                    <td> <a href="/edit_course/{{i.id}}"><i class="fas fa-pencil-alt p-2 mb-1 bg-warning"></i></a>
                        &nbsp;
                    </td>
                    <td> <a href="/delete_course/{{i.id}}"><i class="fas fa-trash p-2 mb-1 bg-danger"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
            <!--Table body-->


        </table>
        <!--Table-->

    </div>

</div>

{% endblock body %}